<h2>Demo: Web Scraping with BeautifulSoup</h2>
This demo shows the usage of BeautifulSoup to crawl an ad listings in Craigslist

In [1]:
from bs4 import BeautifulSoup
import requests
import urllib
import re
import pandas as pd

Go to https://www.craigslist.org and select an ad url

In [2]:
url = "https://minneapolis.craigslist.org/d/cars-trucks/search/cta"

from urllib.request import urlopen
page = urlopen(url)
soup = BeautifulSoup(page, 'lxml')
# Get all links to the ads
all_matches = soup.find_all('a', class_='result-title hdrlnk')
ad_links = []
for i in all_matches:
    #print (i['href'])
    ad_links.append(i['href'])
#print(ad_links)

In [3]:
ad_title = []
item_price = []
ad_description = []

for ad_url in ad_links:
    ad_page = urlopen(ad_url)
    ad_soup = BeautifulSoup(ad_page, 'lxml')
    ad_title.append(ad_soup.find(class_="postingtitletext").text)
    item_price.append(ad_soup.find(class_="price").text)
    ad_description.append(ad_soup.find(id = "postingbody").text.replace("QR Code Link to This Post",""))

In [4]:
ad = {
    'Ad Title': ad_title,
    'Item Price': item_price,
    'Ad Description': ad_description
}
df = pd.DataFrame.from_dict(ad)

In [5]:
df

,Ad Title,Item Price,Ad Description
0,\n2005 Buick Lesabre - $1400 (Buffalo),$1400,\n\n\n\n\n2005 buick lesabre. 3800v6 264k. Run...
1,\n2006 Infiniti G35x - $4999 (Lakeville),$4999,"\n\n\n\n\n162,800 miles\nNewer tires\nBrand ne..."
2,\n2006 Mazda 3 - $3900 (Woodbury),$3900,\n\n\n\n\nThese cars must be common because wh...
3,\nGreen 2000 Jeep Grand Cherokee Laredo - $200...,$2000,\n\n\n\n\nI'm selling my 2000 Jeep Grand Chero...
4,\n2011 Acura RDX - $9995 (Lake Elmo),$9995,\n\n\n\n\n2011 Acura RDX SH AWD.only 86678 mil...
...,...,...,...
115,\n2007 Lexus LS 460 SWB - $11500 (Dakota County),$11500,\n\n\n\n\ngorgeous 2007 Lexus LS 460 V8 Luxury...
116,"\n2009 Mercedes GL320 4Matic 4WD w/Navi, 20"" W...",$11950,\n\n\n\n\n\n2009 Mercedes-Benz GL320 BlueTEC 4...
117,\n2004 Honda crv - $2600 (Eagan),$2600,\n\n\n\n\nRuns and drives great. Needs nothing...
118,\n2013 *Toyota* *Sienna* *LE* Predawn Gray Mic...,$11246,\n\n\n\n\n\n2013 *Toyota* *Sienna* LE Van FWD ...
119,\n2008 Infiniti QX56 Luxury SUV - $6500,$6500,\n\n\n\n\nSelling our family SUV 2008 Infiniti...